{{ define "admin/useredit.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
</head>
<body>
<h2>演示-不同名字的多个文件上传</h2>

<form action="/admin/user/doEdit" enctype="multipart/form-data" method="post">
    用户名:<input name="username" placeholder="用户名" type="text"/><br>
    头 像1:<input name="face1" type="file"/><br>
    头 像2:<input name="face2" type="file"/><br>
    <input type="submit" value="提交">
</form>
</body>
</html>
{{ end }}