{{ define "admin/useradd.html" }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
</head>
<body>
<h2>演示文件上传</h2>

<form action="/admin/user/doUpload" enctype="multipart/form-data" method="post">

    用户名:<input name="username" placeholder="用户名" type="text"/>
    <br>
    <br>
    头 像：<input name="face" type="file"/>
    <br> <br>

    <input type="submit" value="提交">
</form>
</body>
</html>
{{ end }}